@model Q41.DocumentService.TemplateManager.Models.Templates

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Templates</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TemplateId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemplateId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Identifier)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Identifier)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Path)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TemplateGroups.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemplateGroups.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Paramaters)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Paramaters)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Povratak na listu", "Index")
    </p>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $('#example').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Croatian.json"
                }
            });

        });
    </script>
}

