@model Q41.DocumentService.TemplateManager.Models.Templates

@{
    ViewBag.Title = "UREĐIVANJE PREDLOŠKA";
}

<h2>UREĐIVANJE PREDLOŠKA</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.TemplateId)

    <div id="l1" class="tabela-apis">
        <div class="pod-tabela-apis">
            <fieldset>
                <legend>Templates</legend>

                <div class="editor-label">
                    Naziv
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="editor-label">
                    Grupa
                </div>
                <div class="editor-field">
                    @Html.DropDownList("TemplateGroupId", String.Empty)
                    @Html.ValidationMessageFor(model => model.TemplateGroupId)
                </div>
                <div class="editor-label">
                    Identifikator
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Identifier)
                    @Html.ValidationMessageFor(model => model.Identifier)
                </div>

                <div class="editor-label">
                    Putanja
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Path)
                    @Html.ValidationMessageFor(model => model.Path)
                </div>



                <div class="editor-label">
                    Parametri
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Paramaters)
                    @Html.ValidationMessageFor(model => model.Paramaters)
                </div>

                <div style="width:100%;  text-align:right; ">
                    <input class="btn btn-primary btn-sm " type="submit" value="SPREMI" />
                </div>
            </fieldset>
            }
        </div>
    </div>
    <div style="color:white; ">
        @Html.ActionLink("Povratak na listu", "Index")
    </div>
}   
@section Scripts {

@Scripts.Render("~/bundles/jqueryval")

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Croatian.json"
            }
        });

    });
</script>

}