@model Q41.DocumentService.TemplateManager.Models.TemplateGroups

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TemplateGroups</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TemplateGroupId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TemplateGroupId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ParentGroupId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ParentGroupId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
